DeathrunHud {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 8px;
  flex-direction: column;
  
  label {
    color: white;
    font-size: 18px;
  }
  
  .title {
    font-size: 24px;
    color: white;
  }
}