HealthHud {
  position: absolute;
  bottom: 30px;
  left: 50px;
  backdrop-filter: blur( 20px ) brightness( 0.5 );
  border-radius: 8px;
  pixel-snap: 1;
  
  .main-content {
    padding: 10px;
    flex-direction: row;
  }

  label {
    color: white;
    font-family: Poppins;
    text-align: center;
    font-weight: 700;
    font-size: 50px;
  }
}